# IDE and Editor Files
/.idea
/.vscode

# Environment and Dependencies
/.venv

# Python Files
*.pyc
*.pyo
__pycache__/

# Temporary Files
/temp
*.tmp

# Debugging Files
/BV*.json
/comments.json
/analysis_results.json
/video_info.json

# Credentials
/credential.json
